/* Import GRID */
@import 'grid.less';
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

/* DESIGN*/
//Gardient
@gardientOldBlue: #2989d8; /* Old browsers */
@mozGardientBlue: -moz-linear-gradient(top, #2989d8 0%, #061f40 100%); /* FF3.6+ */
@webGardientBlue: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#061f40)); /* Chrome,Safari4+ */
@webLinearGardientBlue: -webkit-linear-gradient(top, #2989d8 0%,#061f40 100%); /* Chrome10+,Safari5.1+ */
@oLinearGardientBlue: -o-linear-gradient(top, #2989d8 0%,#061f40 100%); /* Opera 11.10+ */
@msLinearGardientBlue: -ms-linear-gradient(top, #2989d8 0%,#061f40 100%); /* IE10+ */
@linearGardientBlue: linear-gradient(to bottom, #2989d8 0%,#061f40 100%); /* W3C */
@filterBlue: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#061f40',GradientType=0 ); /* IE6-9 /* Old browsers */

@gardientOldLight: #061f40;
@mozGardientLight: -moz-linear-gradient(top, #061f40 0%, #2989d8 100%); /* FF3.6+ */
@webGardientLight: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#061f40), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
@webLinearGardientLight: -webkit-linear-gradient(top, #061f40 0%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
@oLinearGardientLight: -o-linear-gradient(top, #061f40 0%,#2989d8 100%); /* Opera 11.10+ */
@msLinearGardientLight: -ms-linear-gradient(top, #061f40 0%,#2989d8 100%); /* IE10+ */
@linearGardientLight: linear-gradient(to bottom, #061f40 0%,#2989d8 100%); /* W3C */
@filterLight: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061f40', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */

//Border Radius
@webRadius: 6px;
@mozRadius: 6px;
@borderRadius: 6px;

//Color
@white: white;
@blue: #061F40;
@red: #f21313;
@deepRed: #b2172d;
@grey: #CFCFCF;
@whiteBorder: #f2f2f2;
@lightBlue: #1E69AA;
@deepGrey: #3D3D3D;

//Shadow
@mozShadow: 5px 5px 5px 0px #cfcfcf;
@webShadow: 5px 5px 5px 0px #cfcfcf;
@oShadow: 5px 5px 5px 0px #cfcfcf;
@boxShadow: 5px 5px 5px 0px #cfcfcf;
@filterShadow:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);

//Fonts
@font-face {
  font-family: 'SourceSansProBold';
  src: url('./Fonts/SourceSansPro-Bold-webfont.eot');
  src: url('./Fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
  url('./Fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
  url('./Fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansProLight';
  src: url('./Fonts/SourceSansPro-Light-webfont.eot');
  src: url('./Fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/SourceSansPro-Light-webfont.woff') format('woff'),
  url('./Fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
  url('./Fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('./Fonts/SourceSansPro-Regular-webfont.eot');
  src: url('./Fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
  url('./Fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
  url('./Fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@proRegular: 'SourceSansProRegular', Arial, sans-serif;
@proBold: 'SourceSansProBold', Arial, sans-serif;
@proLight: 'SourceSansProLight', Arial, sans-serif;

/************************************************
/* RESTE MEYER
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: @white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/************************************************
/* FIN RESTE MEYER
************************************************/
.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

                  /* COMMUN */

body{
  font-size: 16px;
  font-family: @proLight;
}

.container, .footerContent{
  max-width: 960px;
  margin: 1em auto 0 auto;
}

.content{
  .column(12);
}

img{
  border-bottom: 5px solid #cfcfcf;
}

a{
  text-decoration: none;
  color: @lightBlue;
}

a:hover{
  text-decoration: underline;
}

h1{
  font-family: @proBold;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  color: @red;
}

p{
  color: @blue;
  line-height: 1.25em;
  margin-bottom: 1em;
  font-family: @proLight;
}

                      /*  HEADER  */

.banner{
  height: 151px;
  display: block;
}

header nav{
  background: @gardientOldBlue;
  background: @mozGardientBlue;
  background: @webGardientBlue;
  background: @webLinearGardientBlue;
  background: @oLinearGardientBlue;
  background: @msLinearGardientBlue;
  background: @linearGardientBlue;
  filter: @filterBlue;
  height: 37px;
  margin-top: 1em;
}

header li{
  float: left;
  height: 37px;
  position: relative;
}

header li:hover{
  background: @gardientOldLight;
  background: @mozGardientLight;
  background: @webGardientLight;
  background: @webLinearGardientLight;
  background: @oLinearGardientLight;
  background: @msLinearGardientLight;
  background: @linearGardientLight;
  filter: @filterLight;
}

nav li:last-child{
  border: none;
}

header a{
  color: @white;
}

header a:hover{
  text-decoration: none;
}

header p{
  margin-bottom: 0;
}

nav a{
  font-family: @proRegular;
  padding: 0.75em 1.4em 0.5em 1.4em;
  display: inline-block;
}

.separator{
  position: absolute;
  right: -2px;
  display: block;
  color: rgba(255, 255, 255, 0);
  top: 10px;
  border-right: 1px solid @lightBlue;
}

                /* SLIDER */
.slider{
  border: 0.5em solid @blue;
  height: 350px;
  position: relative;
  border-top: none;
}

.slider img, header img, .linkTo img, .liens img{
  border-bottom: none;
}

#home .slider{
  top:-1em;
}

figure{
  margin-left: 0px;
}

.slider a{
  display: block;
  height: 350px;
}

.infoSlider, .infoBanner{
  position: absolute;
  top: 175px;
  left: 25px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  color: @blue;
  line-height: 1.25em;
  -webkit-border-radius: @webRadius;
  -moz-border-radius: @mozRadius;
  border-radius: @borderRadius;
}

.precedent, .suivant{
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-family: @proRegular;
  top: 315px;
  font-size: 2em;
  cursor: pointer;
  padding: 0 0.5em;
}

.suivant{
  left: 875px;
}

.lastFigure .suivant, .lastFigure .precedent{
  color: @blue;
}

            /* SECTION */
section{
  margin: 2em 0;
}

section header, .liens{
  border: none;
  height: 100%;
  background-color: #ffffff;
}

.linkTo{
  margin-top: 2.5em;
}

.linkTo figure{
  .column(4);
  margin-bottom: 1em;
}

.linkTo li{
  .column(4);
  margin-bottom: 1em;
}

.linkTo p:hover{
  color: @deepRed
}

section a:hover{
  color: @deepRed;
}

section h1{
  font-size: 2em;
}

section h2{
  font-family: @proBold;
  font-size: 1.75em;
  margin-top: 0.5em;
  color: @blue;
}

section span{
  position: relative;
  top: 0.5em;
  font-size: 2.5em;
  left: 115px;
  margin-bottom: 0.5em;
}

.liens{
  clear: both;
}

.liens li{
  .column(4);
  margin-bottom: 1em;
}

.liens a{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 2em 0 1em 0;
}

.liens img{
  -moz-box-shadow: @mozShadow;
  -webkit-box-shadow: @webShadow;
  -o-box-shadow: @oShadow;
  box-shadow: @boxShadow;
  filter:@filterShadow
}

section ul{
  margin-top: 1em;
}

section li{
  color: @blue;
  list-style-type: square;
  line-height: 1.5em;
  margin-left: 2em;
}

ul a{
  color: @blue;
}

          /*FOOTER*/
footer{
  clear:both;
  border-top:5px solid rgb(207, 207, 207);
  background-image: url('../img/footer.jpg');
  height: 250px;
  width: 100%;
}

.footerContent{

}

.footerContent div, footer nav{
  .column(3);
}

.footerContent div, footer nav{
  margin: 1em 0.5em 0.5em 0.5em;
}

footer nav{
  margin-left: 1em;
}

h3, legend{
  color: @white;
  font-family: @proBold;
  margin-bottom: 0.5em;
}

footer p{
  line-height: 1.5em;
  margin-bottom: 0;
}

footer a, footer p{
  margin-left: 1em;
  font-family: @proLight;
  color: @grey;
}

footer li{
  margin: 0.25em 0;
}

footer a{
  padding: 0;
}

footer h3{
  border-bottom: 1px solid @deepGrey;
  padding: 0.5em;
}

/* Missions */
#missions .slider a, #formations .slider a, #formations .slider a, #equipe .slider a, #contacts .slider a, #missions .slider,
#formations .slider, #formations .slider, #equipe .slider, #liens .slider, #liens .slider a,
#membre .slider, #membre .slider a, #contacts .slider, #contacts .slider a,  #publications .slider, #publications .slider a,
#cours .slider, #cours .slider a{
  height: 175px;
}

.blocMissions{
  margin: 1em 0;
}

.blocMissions a:hover{
  text-decoration: none;
}

.blocMissions div{
  .column(4);
  margin-bottom:2em;

}

.blocOuter, .blocCenter{
  height: 375px;
  -webkit-border-radius: @webRadius;
  -moz-border-radius: @mozRadius;
  border-radius: @borderRadius;
  -moz-box-shadow: @mozShadow;
  -webkit-box-shadow: @webShadow;
  -o-box-shadow: @oShadow;
  box-shadow: @boxShadow;
  filter:@filterShadow;
}

.blocOuter{
  background-image: url('../img/blocOuter.png');
}

.blocOuter span, .blocCenter span{
  color: @blue;
}

.blocOuter:hover span, .blocCenter:hover span{
  color: #ffffff;
}

.blocOuter:hover p, .blocOuter:hover h2, .blocCenter:hover p, .blocCenter:hover h2{
  color:@blue;
}

.blocOuter p, .blocCenter p{
  padding: 0.5em 1em;
  color: white;
}

.blocCenter h2, .blocOuter h2{
  color: #ffffff;
  padding: 0.5em 1em 0.25em 0.6em;
}

.blocOuter p, .blocCenter p{
  line-height: 1.25em;
  padding-top: 0em;
}

.blocCenter{
  background-image: url('../img/blocCenter.png');
}

#missions p a{
  color: @lightBlue;
  font-family: @proBold;
}

.infoBanner{
  top: 125px;
  width: 175px;
  padding: 0.5em 0.5em 0 0.5em;
}

/* Equipe */
.contentEquipe{
  .column(4);
  margin-bottom: 1em;
  height: 500px;
}

.contentEquipe figure, .sectionRight figure{
  margin: 0;
}

.infoContact{
  .column(12);
}

.contentEquipe img{
  height: 250px;
}

.contentEquipe h1{
  height: 65px;
  margin-top: 0.5em;
  margin-bottom: 0;
}

#equipe h2{
  font-size: 1em;
  color: @lightBlue;
}

#equipe p{
  margin-bottom: 0.25em;
}

/* Formations */
#formations section h3, legend{
  color: @lightBlue;
  margin-top: 1em;
}

#formations section ol{
  margin: 0 0 1em 1em;
  line-height: 1.5em;
  list-style-type: disc;
}

.contentColonne div{
  .column(8);
  margin-bottom: 1em;
}

.contentColonne figure{
  .column(4);
}

#formations .infoBanner{
  width: 250px;
}

.methodologies, .youtubeChaine{
  clear: both;
}

/*  Contact */
#contacts section, #cours section{
  .column(8);
  margin-top: 2em;
}
aside{
  .column(4);
  margin-top: 6em;
  background-image: url(../img/aside.jpg);
  -webkit-border-radius: @webRadius;
  -moz-border-radius: @mozRadius;
  border-radius: @borderRadius;
}

aside h1{
  color: @white;
  padding: 1em 0 0 1em;
}

/*label{
  display: block;
  margin-bottom: 0.5em;
  color: @deepRed;
  font-family: @proBold;
}*/

input{
  height: 25px;
  width:250px;
  margin-bottom: 1.5em;
  border: 1px @grey dashed;
  background-color: #f9f9f9;
  display: block;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus{
  background: @grey;
  border:1px solid #f9f9f;
  color:@deepGrey;
}

textarea{
  border: 1px @grey dashed;
  background-color: #f9f9f9;
}

form ul{
  margin-top: 0;
}

form li{
  display: inline-block;
}

input[type="radio"]{
  width: 30px;
  display: inline;
}

input[type="submit"]{
  .column(6);
  .push(6);
  margin-top: 1em;
  -webkit-border-radius: @webRadius;
  -moz-border-radius: @mozRadius;
  border-radius: @borderRadius;
  border: 1px solid @grey;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

input[type="submit"]:hover{
  background: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
  background: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background: linear-gradient(to bottom, #e6e6e6, #ffffff);
  cursor: pointer;
}

#contacts li{
  list-style-type: none;
}

.contactSecretaire{
  padding: 1em;
}

.contactSecretaire p{
  color: @white;
  margin-bottom: 0;
}

fieldset{
  border: 1px solid @grey;
  padding: 1em;
}

legend{
  padding: 0.5em;
}

/* Liens */
.lien img{
  .column(12);
}

.lienLeft, .lienRight{
  .column(6);
  margin-top: 2em;
}

.url a{
  color: @lightBlue;
}

.lien{
  margin-bottom: 3em;
}

/* Publications */
#publications section{
  .column(10);
  margin-top: 2em;
}

#publications .right{
  .push(2);
  text-align: right;
}

/* Membre */
#membre form{
  margin-top: 1em;

}

#membre fieldset{
  .column(4);
  .push(3.5)
}

#membre input[type="submit"]{
    .column(5);
  .push(6);
}

/*  Audiovisuel */
.video, .contact{
  margin-bottom: 0;
}

.youtubeChaine li, .youtubeVideo li{
  list-style-type: none;
}

/* Cours */
aside a{
  color:@white;
}

aside ol{
  padding: 1em;
}
aside li{
  margin-bottom: 0.5em;
}
#cours aside{
  margin-top: 7em;
}

.niveau{
  background-color: @deepRed;
  margin-bottom: 2em;
}

.niveau p{
  padding: 0.5em 0.5em;
  color: @white;
  font-family: @proBold;
}

#cours li{
  list-style-type: none;
}

.niveau li:after{
  content: "+";
}

